body{
	margin:0px;
	padding: 0px;
	background-color:#e1e2e4;
	overflow: hidden;
	font-family: system-ui;
}
h3{
  text-align: center;
   border: 1px solid red;
  color: red;
  background-color: #ff72724f;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272c4a;
  /* background-color:white; */
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #060606;
  background-color:#ffffff;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
  display:block;
/* overflow:scroll; */
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
}
.profile{
	display: inline-block;
	/* float: right; */
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #ffffff;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.col-div-8{
	width: 70%;
	float: left;
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #272c4a;
	height: 330px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: system-ui;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}
/* .circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
} */

#button {
    background-color:#272c4a;
    color: white;
    /* padding: 16px 20px; */
    /* margin: 8px 0; */
    margin-top: auto;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 50px;
    opacity: 0.9;
    transition: 0.1s;
  }
  #button:hover{
height: 31px;
width:53px ;
padding:5px;
    background-color:rgb(248, 82, 82);
  }
.content-table {
    
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: #000000;
  
}

.content-table thead tr {
  background-color: #272c4a;
  color: black;
  text-align: left;
  font-weight: bold;
}
.content-table td{
  color: black;
  background-color: white;
} 

.content-table th,
.content-table td {
  padding: 12px 15px;
 
}
.content-table tbody tr {
  border-bottom: 1px solid #000000;
}
.bg-model{
    width: auto;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    
    position: absolute;
    top: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
    z-index: 98;
    overflow: scroll;
    
  } 
  .model-content{
    width: auto;
    height:auto;
    background-color:rgb(243, 243, 243);
   display:inline-block;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border-radius: 4px; */
    position: relative;
    z-index: 99;
    overflow:hidden;
  
  
  }
  .close{
    position: absolute;
    top: 2%;
    right: 2%;
    font-weight: bolder;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 10;
    transition: 0.01s;
    }
    .close:hover{
        font-size: 42px;
      
            color:rgb(248, 82, 82);
          }
  .container{
    width: 50%;
    margin-top: 40px;
      /* margin: 50px auto; */
      /* border: 2px solid rgb(48, 155, 231); */
      display: inline block;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    background-color: aliceblue;
    overflow: hidden;
    
  
  }
  /* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
 
  
 
  input {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input:focus{
    background-color:#ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color:#272c4a;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
    background-color:rgb(248, 82, 82);
  }
  
  /* Add a blue text color to links */
  /* a {
    color: dodgerblue;
  } */
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .btn{
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.548);
    background-color: #272c4a;
  }