*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
	
/* font-family: 'Playfair Display', serif; */
}
.background{
    background: url(img/coursebg.png);
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    height: 100vh;
}
.container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
   
}
.container h2{
    font-family: 'Playfair Display', serif;
    margin: 30px 0;
}
.container2{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    height: 500px;
    border-radius: 50px;
    font-size: 1.1rem;
}
.container ul{
    list-style: decimal;
}
.btn{
	display: inline-block;
	padding: 10px 30px;
	font-size:1.1rem;
	font-weight: 700;
	background: #a435f0;
	color: white;
	border-radius: 30px;
	transition: all .40s ease;
    text-decoration: none;
    border: none;
    position: fixed;
}
.btn:hover{
	transform: scale(0.9) translateY(-5px);
}
.current{
    font-family: 'Playfair Display', serif;
    padding: 10px 90px;
    background: #f4f4f4;
    border: #000 dotted 1px;
    margin: 20px 0 10px 0;
    font-size: 1.5rem;
}
.question{
    font-size: 1.3rem;
}